<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="pers.project.api.facade.mapper.UserQuantityUsageMapper">

    <resultMap id="BaseResultMap" type="pers.project.api.facade.model.po.UserQuantityUsagePO">
            <id property="id" column="id" jdbcType="BIGINT"/>
            <result property="accountId" column="account_id" jdbcType="BIGINT"/>
            <result property="digestId" column="digest_id" jdbcType="BIGINT"/>
            <result property="total" column="total" jdbcType="BIGINT"/>
            <result property="failure" column="failure" jdbcType="BIGINT"/>
            <result property="stock" column="stock" jdbcType="BIGINT"/>
            <result property="usageStatus" column="usage_status" jdbcType="TINYINT"/>
            <result property="isDeleted" column="is_deleted" jdbcType="TINYINT"/>
            <result property="createTime" column="create_time" jdbcType="TIMESTAMP"/>
            <result property="updateTime" column="update_time" jdbcType="TIMESTAMP"/>
    </resultMap>

    <sql id="Base_Column_List">
        id,account_id,digest_id,
        total,failure,stock,
        usage_status,is_deleted,create_time,
        update_time
    </sql>

    <update id="updateConfirmedStockById">
        UPDATE `api-facade`.user_quantity_usage
        SET stock = stock + #{quantity}
        WHERE id = #{usageId}
    </update>

    <delete id="deletePhysicallyByAccountId">
        DELETE
        FROM `api-facade`.user_quantity_usage
        WHERE id = #{usageId};
    </delete>

</mapper>
