HELP.md
target/
!.mvn/wrapper/maven-wrapper.jar
!**/src/main/**/target/
!**/src/test/**/target/

### STS ###
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cache

### IntelliJ IDEA ###
.idea
*.iws
*.iml
*.ipr

### NetBeans ###
/nbproject/private/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/
build/
!**/src/main/**/build/
!**/src/test/**/build/

### VS Code ###
.vscode/

### Project ###
/api-client/src/test/
/api-common/src/test/
/api-facade/src/test/
/api-gateway/src/test/
/api-provider/src/test/
/api-security/src/test/
/api-facade/src/main/resources/application-dev.yaml
/api-facade/src/main/resources/application-prod.yaml
/api-gateway/src/main/resources/application-dev.yaml
/api-gateway/src/main/resources/application-prod.yaml
/api-provider/src/main/resources/application-dev.yaml
/api-provider/src/main/resources/application-prod.yaml
/api-security/src/main/resources/application-dev.yaml
/api-security/src/main/resources/application-prod.yaml
