<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="pers.project.api.security.mapper.UserApiInfoMapper">

    <resultMap id="BaseResultMap" type="pers.project.api.security.model.entity.UserApiInfo">
        <id property="id" column="id" jdbcType="BIGINT"/>
        <result property="userId" column="user_id" jdbcType="BIGINT"/>
        <result property="apiInfoId" column="api_info_id" jdbcType="BIGINT"/>
        <result property="totalNum" column="total_num" jdbcType="INTEGER"/>
        <result property="leftNum" column="left_num" jdbcType="INTEGER"/>
        <result property="status" column="status" jdbcType="INTEGER"/>
        <result property="createTime" column="create_time" jdbcType="TIMESTAMP"/>
        <result property="updateTime" column="update_time" jdbcType="TIMESTAMP"/>
        <result property="isDelete" column="is_delete" jdbcType="TINYINT"/>
    </resultMap>

    <sql id="Base_Column_List">
        id,user_id,api_info_id,
        total_num,left_num,status,
        create_time,update_time,is_delete
    </sql>

    <select id="listTopInvokeApiInfo" resultType="pers.project.api.security.model.entity.UserApiInfo">
        SELECT api_info_id, SUM(total_num) AS total_num
        FROM api.user_api_info
        GROUP BY api_info_id
        ORDER BY total_num DESC
        LIMIT #{limit}
    </select>

</mapper>
